# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
qvae/
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# macOS
.DS_Store

# Data / artifacts
QM9/
checkpoints/
!checkpoints/**/best_model.npz
!checkpoints/**/best_model_metadata.json
logs/
processed/
*.pt
*.pth

# Large data files
utils/fpscores.pkl.gz
mlx_data/qm9.csv

# Python packaging
*.egg-info/
.dist/
build/

# Env files
.env
.env.*
.env

